header{
    background-color: rgb(204, 204, 204);
    padding: 70px;
    text-align: center;
    color: white;
}

main{
    background-color: red;
    padding: 20px;
}

div{
    background-color: rgb(1, 124, 1);
    margin: 20px;
    text-align: center;
    border: solid 2px black;
}

footer{
    background-color: rgb(204, 204, 204);
    padding: 20px;
    text-align: center;
    color: white;
}